html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    background-color: #0F172A;
    color: #FFF;
    font-family: Albert Sans;
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

nav{
    background-color: blue;
    font-family: 'Albert Sans', sans-serif;
}

.contact{
    background-color: red;
}

header{
    font-size: 3rem;
    font-family: 'Albert Sans', sans-serif;
}
